.discuss-top-bar-component {
  display: block;
  height: 6rem;
  background-color: #fff;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2.5rem;
    box-sizing: border-box;
    z-index: 5;
  }

  .left-title {
    font-size: 2.2rem;
    line-height: 6rem;
    color: #333333;
    font-weight: bold;
    float: left;
  }
  .right-title {
    font-size: 1.5rem;
    line-height: 6rem;
    color: #ffa300;
    float: right;
  }
}
